.main_container_order_cart {
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    background-color: #fff;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.08);
    cursor: pointer;
}

.main_container_order_cart:hover {
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
}


.order_row_container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.col_container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.order_code {
    font-size: 17px;
    font-weight: 600;
}

.order_date {
    font-size: 15px;
    color: gray;
}

.status_order_order {
    border: solid gray;
    align-content: center;
    padding: 5px;
    height: 15px;
    border-radius: 15px;
    font-size: 13px;
}

.status_delivered {
    color: green;
    border: green solid;
}

.status_shipping {
    color: rgb(191, 162, 0);
    border: solid rgb(191, 162, 0);
}

.status_cancelled {
    color: rgb(106, 0, 255);
    border: solid rgb(106, 0, 255);
}

.status_del {
    color: red;
    border: solid red;
}

.order_cost {
    color: rgb(106, 0, 255);
    font-size: 17px;
    font-weight: 600;
}